{% extends 'qwant/base.html' %}

{% block page_content %}
<h1>{{ artist.name }}</h1>
<img src="{{ artist.picture }}" alt="no picture"/>
<ul>
    <li><a href="{{ artist.qwant_url }}" target="_blank">{{ artist.qwant_url }}</a></li>
    {% if artist.similar_artists.all %}
    <li>Similar artists:</li>
        <ul>
            {% for sim in artist.similar_artists.all %}
            <li><a href="{% url 'qwant:artist_detail' sim.id %}">{{ sim.name }}</a></li>
            {% endfor %}
        </ul>
    </li>
    {% else %}
    <li><strong>No similar artist found</strong></li>
    {% endif %}
</ul>
{% endblock %}